* {
	font-family: 'Lato', sans-serif;
	}
	
	html, body {
		margin: 0;
		padding: 0;
		background-color: blue;
		}

	header {
		background-color: white;
		padding: 20px;
		/* kuidas saada search-box keskele? kast: border: 2px solid #73AD21; */
		}

	/* search box */
	nav div.search-container > input {
		box-sizing: border-box;
		height: 40 px;
		width: 20%;
		margin: 0;
		padding: 10px;
		border: 2px solid #e0e0e0;
		}
		
	/* search box button */
	nav div.search-container > button {
		box-sizing: border-box;
		height: 40px;
		width: 60px;
		margin: 0;
		padding: 10px;
		border: 1px solid #e0e0e0;
		cursor: pointer;
		background-color: #3333cc;
		color: white;
		}
	/* Flexbox */	
	section.flex-container {
		display: flex;
		flex-flow: row;
		}
		
	/* style middle container */
	section div.content-container{
		width: 50%;
		height: 1000px;
		background-color: white;
		}
	
	/*style sidebars */
	section div.sidebar{
		width: 25%;
		height: 1000px;
		background-color: blue;
		}
	
	/* style images in the content container (posts) */
	.content-container ul li img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
		}
		
	/* remove bullet points from the list */
	li {
		list-style: none;
		}
		
	
		